[run]
branch = true

[report]
omit =
    *site-packages*
    *tests*
    *migrations*
    *.tox
    exampleproject/*
    vinta_orgs/urls.py
    vinta_orgs/admin.py
    vinta_orgs/apps.py
    vinta_orgs/management/**/*.py
    vinta_orgs_custom_data/urls.py
    vinta_orgs_custom_data/admin.py
    vinta_orgs_custom_data/apps.py
show_missing = True
exclude_lines =
    raise NotImplementedError
