[run]
branch = true

[report]
omit =
    *site-packages*
    *tests*
    *migrations*
    *.tox
    exampleproject/*
    organizations/urls.py
    organizations/admin.py
    organizations/apps.py
    organizations/management/**/*.py
    organizations_custom_data/urls.py
    organizations_custom_data/admin.py
    organizations_custom_data/apps.py
show_missing = True
exclude_lines =
    raise NotImplementedError
